<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}
    {% for file in files %}
        <h2>{{ file["name"] }}</h2>
    {% endfor %}
    <form action="/create-slides" method="post">
      {{ form.csrf }}
      <div class="input text">
        {{ form.name.label }} {{ form.name }}</div>
      <div class="input submit">
        <input type="submit" value="Submit"></div>
    </form>
  {% endblock %}
</section>